body{
    margin: 0;
}

header{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/fondImage3.png);
    height: 900px;
    background-attachment: fixed;
}

.contact-Entete{
    padding-top: 10px;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px;
}

.reseau{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}

.contact{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    font-family: 'Rubik Broken Fax';
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
}

.presentation{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 300px;
    font-family: 'Heebo';
    font-size: 30px;
}

.photoRD{
    height: 350px;
    padding-top: 20px;
}

.photoRD>img{
    position: absolute;
    top: 1080px;
    left: 725px;
}

.competences{
    margin-top: 100px;
    text-align: center;
}

.Projets>p{
    font-size: 30px;
}

.competences>h2, .Projets>h2, footer>h2{
    font-size: 50px;
    color: black;
    padding-bottom: 10px;
}

.line{
    border-bottom: 6px solid red;
    width: 3%;
    margin: auto;
}

.line2{
    border-bottom: 1px solid red;
    width: 30%;
    margin-left: 15%;
}

.box-principale{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 80%;
    margin: auto;
}

.btn-blink1 {
    position: absolute;
    left: 910px;
    top: 210px;
    display: inline-block;
    padding: 20px;
    width: 4%;
    border-radius: 45px;
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    animation: anim-btn1 1s ease-in-out infinite alternate;
}
   
@keyframes anim-btn1 {
    from {
     transform: scale(1);
     background-color: rgb(0, 208, 255);
     text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
     box-shadow: 0 0 0 transparent, 0 0 5px rgba(0, 0, 0, .25) inset;
    }
    to {
     transform: scale(1.1);
     background-color: rgb(254, 254, 254);
     text-shadow: 0 2px 6px rgba(0, 0, 0, .35);
     box-shadow: 0 0 12px rgb(0, 208, 255), 0 0 10px rgba(0, 0, 0, .5) inset;
    }
}

.formulaire{
    margin-top: 25px;
}

.ctn{
    justify-content: space-evenly;
}

.listeFooter{
    margin-top: 20px;
}

.listeFooter>ul>li{
    text-align: start;
    margin: 35px;
}

input, textarea{
    background-color: #D3D3D3;
    border: none;
    border-radius: 10px;
}

input{
    padding: 10px;
}

label{
    padding: 10px;
}

textarea{
    padding: 40px;
}











   



















